@import '@/styles/common.scss';

.preview {
  position: relative;
  width: auto;
  height: auto;
  margin: 0 auto;
  border: $border-primary-1;
  border-radius: $border-radius-large;
  overflow: hidden;

  .avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .avatarMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.avatarMaskList {
  margin-top: 50px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 120px 120px;
  grid-auto-columns: 120px;
  gap: 30px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  .avatarMask {
    width: 100%;
    height: 100%;
    border: $border-primary-1;
    box-sizing: border-box;
    border-radius: $border-radius;
    overflow: hidden;
  }
}

.actionList {
  margin-top: 40px;
  display: flex;

  .action {
    flex: 1;
  }

  .action + .action {
    margin-left: $page-space;
  }
}

.tipsList {
  margin-top: 30px;

  .tips {
    margin-top: 10px;
    color: $text-color-tips;
    font-size: 24px;

    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      background: currentColor;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}
