@import '@/styles/custom-variables.scss';

$color-brand: $color-primary;
$color-brand-light: $color-primary-light;
$color-brand-dark: $color-primary-dark;

$at-button-height: 80px !default;
$at-button-height-sm: 60px !default;

@import '~taro-ui/dist/style/index.scss';
